Flask==3.1.0
folium==0.19.4
fonttools==4.55.8
geopandas==1.0.1
geopy==2.4.1
matplotlib==3.10.0
networkx==3.4.2
numba==0.61.0
numpy==2.1.0
osmnx==2.0.1
pandas==2.2.3
pymongo==4.11
pyproj==3.7.0
requests==2.32.3
tqdm==4.67.1
